<div id="inbox_container">
  <div id="inbox_header">
  	<% if flash[:error] && !flash[:error].blank? %>
      <p id="error"><%= flash[:error] %></p>
    <% else %>
      <p id="notice"><%= notice %></p>
    <% end %>
    <p>
  		<strong>Subject:</strong>
  		<%= @message.subject %>
	</p>
	<p>
  		<strong>Sender:</strong>
  		<%= @message.sender %>
	</p>

	<p>
  		<strong>Date:</strong>
  		<%= @message.date %>
	</p>
	    <nav id="menu">
      		<ul>
				<li><%= link_to 'Back', "/users/#{@message.user_id} "%></li>
				<li><%= link_to "Settings", "/users/#{@message.user_id}/edit" %></li>
    			<li><%= link_to "Sign out", signout_path %></li>
    		</ul>
    	</nav>
  </div>
  <div class="messages" summary="Messages de l'utilisateur">
  	<p>
  		<%= @message.content.html_safe %>
  	</p>
  </div>
</div>
